.fiesta{
    display:block;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(71, 138, 216);
    width: 850px;
    height: 300px;
    border-radius: 25px;

}

.fiesta td button{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    width: 200px;
    height: 100px;
    font-size: 45px;
    border-radius: 25px;


}


.titulo{
    display:block;
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(4, 5, 5);
    width: 600px;
    height: 100px;
    border-radius: 25px;

}

.invitado{
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 300px;
    height: 100px;
    font-size: 50px;
    border-radius: 25px;

}

.licor{
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 300px;
    height: 100px;
    font-size: 50px;
    border-radius: 25px;

}

.comida{
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 300px;
    height: 100px;
    font-size: 50px;
    border-radius: 25px;

}

.musica{
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 300px;
    height: 100px;
    font-size: 50px;
    border-radius: 25px;

}